# SQLite Database Path (can be overridden in Docker volume mounts)
DATABASE_PATH="./data/app.db"

# Better Auth Secret (Generate your own secret for production e.g. using `openssl rand -base64 32`)
BETTER_AUTH_SECRET="e9f2a4b8c7d1e3f5a6b9c0d2e4f6a8b1c3d5e7f9a2b4c6d8e0f2a4b6c8d0e2f4"

# Better Auth Base URL
BETTER_AUTH_URL="http://localhost:3000"
